Benchmark/Service References/SOAPServiceClient/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BFH.NetDS.WebServices.Benchmark" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BFH.NetDS.WebServices.Benchmark" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3456/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HostInformation">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="drives" nillable="true" type="q1:ArrayOfchar" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="environmentVariables" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="processorCount" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="specialFolders" nillable="true" type="q3:ArrayOfKeyValueOfEnvironment.SpecialFolderstringRDHGY3MA" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="workingSet" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostInformation" nillable="true" type="tns:HostInformation" />
</xs:schema>