CodingSessionClient/Service References/UserClient/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5555/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BFH.NetDS.WebServices.CodingSession.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_fetchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:fetchUsers" />
  </wsdl:message>
  <wsdl:message name="UserService_fetchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:fetchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_fetchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:fetchUser" />
  </wsdl:message>
  <wsdl:message name="UserService_fetchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:fetchUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="fetchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/fetchUsers" message="tns:UserService_fetchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/fetchUsersResponse" message="tns:UserService_fetchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fetchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/fetchUser" message="tns:UserService_fetchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/fetchUserResponse" message="tns:UserService_fetchUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_UserService" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fetchUsers">
      <soap:operation soapAction="http://tempuri.org/UserService/fetchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchUser">
      <soap:operation soapAction="http://tempuri.org/UserService/fetchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_UserService" binding="tns:BasicHttpBinding_UserService">
      <soap:address location="http://localhost:5555/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>