ControlStationApplication/Service References/BFH.NetDS.WebServices.Terminal/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BFH.NetDS.WebServices.Terminal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BFH.NetDS.WebServices.Terminal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Statistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="numberOfTimeStamps" type="xs:int" />
      <xs:element minOccurs="0" name="numberOfUniqueUsers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistics" nillable="true" type="tns:Statistics" />
</xs:schema>